<form method="POST">
    Nazwa: <input type="text" id="name" name="name" value="" />
    Hasło: <input type="password" id="password" name="password" value="" />
    <button id="btLogin">Zaloguj</button> 
</form>

<a href="/register">Zarejestruj się</a>

<% if ( locals.message ) { %>
    <div class='message'>
        <%= locals.message %>
    </div>
<% } %>