<form method="POST">
    Nazwa: <input type="text" id="name" name="name" value="" />
    Hasło: <input type="text" id="password" name="password" value="" />
    <button id="btLogin">Zaloguj</button> 
</form>

<% if ( locals.message ) { %>
    <div class='message'>
        <%= locals.message %>
    </div>
<% } %>

<script>
/*
    window.addEventListener('load', function() {

        var btLogin = document.getElementById('btLogin');
        btLogin.addEventListener('click', login);

    });

    async function login() {
        try {
            var username = document.getElementById('name').value;
            var userPassword = document.getElementById('password').value;

            const result = await sql
                            .input("username", username)
                            .input("userPassword", userPassword)
                            .query('select * from users_table where name = (@username) and password = (@userPassword)');

            if (result.recordset.length == 1) {
                alert("Witaj" + username + "!");
                //przekierowanie do strony głównej
            }
            else {
                alert("Błędna nazwa użytkownika lub hasło.");
            }

        } catch (err) {
            console.error('Chuj przy logowaniu:', err)
        }
    }*/
</script>

