<form method="POST">
    Nazwa: <input type="text" id="name" name="name" value="<%- name%>" />
    Hasło: <input type="password" id="password" name="password" value="" />
    <button id="btLogin">Zaloguj</button> 
</form>
<button onclick="redirectToRegister()">Zarejestruj się</button>

<% if ( locals.message ) { %>
    <div class='message'>
        <%= locals.message %>
    </div>
<% } %>

<button onclick="goBack()"> Powrót</button>
<script>
    function goBack() {
        window.history.back(); // Cofnij o jedną stronę w historii przeglądarki
    }

    function redirectToRegister() {
        window.location.href = '/register'
    }
</script>